/* general */

body {
	background-color: lightsteelblue;
}

/* top of the page */

div.title {
	vertical-align: top;
	text-align: center;
}


h1 {
	display: inline-block;
}

.image {
	content: url(https://itsmygamemyrules.files.wordpress.com/2015/04/screen-shot-2015-04-07-at-12-51-34.png);
	float: left;
	max-width: 8%;
	height: auto;
	margin-top: 2em;
	margin-left: 4em;
}

p {
	margin: auto;
}


/* skills */

.skills{
	background: grey;
	margin-left: 25em;
	width: fit-content;
	display: inline-block;
}

table {
	border-spacing: 1.5em;
	margin-top: 5em;
	height: 35%;
}

caption {
	font-family: helvetica;
	font-size: xx-large;
	position: top;
}

/* training */

.training {
	display: inline-block;
	background-color: blue;
	margin-left: 35em;
}