<div id="title-screen" xmlns="http://www.w3.org/1999/html">
  <h1 id="game-name">MOVIEMON</h1>
  <div id="buttons-start-select">
    <p id="start-title">[Start] => New Game</p>
    <p id="select-title">[Select] => Load Game</p>
  </div>
</div>